
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --moderate_cyan: hsl(176, 50%, 47%);
    --dark_cyan: hsl(176, 72%, 28%);
    --black: hsl(0, 0%, 0%);
    --dark_gray: hsl(0, 0%, 48%);
    --white: hsl(0, 0%, 100%);
}
p{
    font-size: 1rem;
}
body{
    background-color: hsl(0, 2%, 92%);
    position: relative;
}
header{
    width: 100%;
    height: 60vh;
    background-image: url("./images/image-hero-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 3rem 5rem 0 5rem;
    display: flex;
    justify-content: space-between;
}
.header nav ul li{
    list-style: none;
    display: inline;
    margin-left: 1.5rem;
}
.header nav ul li a{
    text-decoration: none;
    color: var(--white);
}
.intro{
    background-color: var(--white);
    width: 50%;
    margin: -10% auto 0 auto ;
    padding: 0 2rem 2rem 2rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.master-logo{
    text-align: center;
}
.master-logo img{
    margin-top: -5%;
}
.master-logo h1{
    font-size: 2.1rem;
    margin-top: 1rem;
    color: var(--black);
}
.master-logo p{
    color: var(--dark_gray);
    padding: 0.5rem 0;
}
.intro-button{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.back-button{
    padding: 1rem 1.5rem;
    background-color: var(--moderate_cyan);
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--white);
    border-radius: 1.5rem;
}
.back-button:hover{
    background-color: var(--dark_cyan);
}
.bookmark-button{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0 1rem 0 0; 
    border-radius: 2rem;
    outline: none;
    border: none;
    cursor: pointer;
}
.analysis{
    width: 50%;
    background-color: var(--white);
    margin: 1% auto;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.analysis-wrapper{
    display: flex;
    gap: 3rem;
}
.analysis-content{
    border-right: 2px solid var(--dark_gray);
    padding-right: 2.5rem;
}
.analysis-content:last-child{
    border: none;
}
.analysis-content h1{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;

}
.analysis-content p{
    color: var(--dark_gray);
}
.progress-bar{
    width: 100%;
    height: 1rem;
    background-color: hsl(0, 2%, 92%);
    margin-top: 1.5rem;
    border-radius: 1rem;
}
.bar{
    width: 50%;
    height: 1rem;
    background-color: var(--moderate_cyan);
    border-radius: 1rem;
}
.about{
    width: 50%;
    background-color: var(--white);
    margin: 1% auto;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.about-title{
    margin-bottom: 3rem;
}
.about-desc{
    margin-bottom: 1rem;
    color: var(--dark_gray);
    line-height: 1.5rem;
}
.about-wrapper{
    border: 1px solid hsl(0, 2%, 85%);
    padding: 1.5rem;
    border-radius: 0.3rem;
    margin-bottom: 1.5rem;
}
.about-content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}
.about-content-header p{
    color: var(--moderate_cyan);
}
.about-content-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.about-content-footer h1{
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.about-content-footer h1 span{
    font-size: 1rem;
    font-weight: 300;
    color: var(--dark_gray);
}
.disabled-btn{
    padding: 1rem 2rem;
    background-color: hsl(0, 0%, 84%);
    outline: none;
    border: none;
    color: var(--white);
    border-radius: 1.5rem;
}
.edit h2{
    color: var(--dark_gray);
}
.edit p{
    opacity: 0.5;
}
.edit-desc, .edit h1, .edit h1 span{
    opacity: 0.5;
}
.modal-container{
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}
.modal-content{
    background-color: var(--white);
    width: 50%;
    margin: 15% auto;
    padding: 1.5rem;
    border-radius: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 3px
}
.icon-close-modal{
    float: right;
}
.modal-title{
    margin: 0.5rem 0;
    font-size: 1.5rem;
}
.no-reward{
    border: 1px solid hsl(0, 2%, 85%);
    padding: 1.5rem;
    border-radius: 0.3rem;
    display: flex;
    gap: 3rem;
    cursor: pointer;
}
.checkbox-outer{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--dark_gray);
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox-inner{
    width: 20px;
    height: 20px;
    background-color: var(--moderate_cyan);
    border-radius: 50%;
    display: none;
}
.no-reward-content h2{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}
.reward{
    border: 1px solid hsl(0, 2%, 85%);
    padding: 1.5rem;
    border-radius: 0.3rem;
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}
.reward main{
    /* display: flex;
    padding: 1.5rem; */
    margin-left: 5rem;
    margin-top: 1rem;
}
.reward-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 0.5rem;
    font-size: 1.2rem; */
}

.reward-header-title{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.reward-header-title h2{
    margin-left: 2.5rem;

}
.reward-header-title p{
    color: var(--moderate_cyan);
    font-weight: 500;
}
.items-left{
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
.items-left span{
    font-weight: 300;
    font-size: 1rem;
}